{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block content %}

  <div class="m-auto w-50">
    <div class="card">
      <h2 class="card-header">Password Reset</h2>
      <div class="card-body">
        {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
          <hr>
        {% endif %}

        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>


        <form method="post" action="{% url 'account_reset_password' %}" class="password_reset">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="mt-4 btn btn-lg btn-secondary btn-block">{% trans 'Reset My Password' %}
          </button>
        </form>

        <div class="mt-3 text-center">
          <p class="text-muted font-weight-light">
            {% blocktrans %}Please contact us if you have any trouble resetting your
              password.{% endblocktrans %}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}